nav.navbar {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 33px;
  padding: 5px;



}


.nav-link{
  font-family:  'Kumar One', cursive;
color: aliceblue;
text-shadow:
   -1px -1px 0 rgb(8, 8, 8),  
    1px -1px 0 #000,
    -1px 1px 0 rgb(236, 49, 49),
     1px 1px 0 #000;
}

.nav-link.active{
  font-family:  'Kumar One', cursive;
color: rgb(245, 165, 165);
}
.nav-link:hover{
  font-family:  'Kumar One', cursive;
color: rgb(99, 95, 95);
}
