.App {
    background-color: lightpink;
    background-image: url(../components/Beer/beer.jpg);
   
    min-width: 100%;
    min-height: 100%;
  
}

p, {
    color: hsl(235, 75%, 38%);
    font-size: 30px;
    width: 100%;
    background-color: lightgrey;
  

}

.App-login {
    background-image: url(../components/Jumbotron/wall.jpg);
    color: white;
    padding-left: 150px ;

}
.App-drinks {
    background-color: black;
    color: #ff0000;
    font-size: 24px;
  
}

.brewery {
    background-color: black;
    color: blanchedalmond;
}

.App-quotes {
    color: brown;
}

.winescore {
    color: crimson;
}