.card {
    margin-top: 5px;
    padding-bottom: 0%;
    background-image: url(../../Images/marble2.jpg);
    margin-bottom: 7px;
} 
.list-group{
    margin-top: 15px;

}

.list{
  margin-bottom: 55px;
}
  .pic{
   width: 400px;
   height: 400px;
   padding: 1%;
 }
