.card {
    margin-top: 5px;
    /* width: 465px;
    height: 360x;    box-shadow: 0 3px 6px rgb(82, 80, 80), 0 3px 6px rgb(53, 50, 50); */
    padding-bottom: 0%;
    background-image: url(../../Images/marble2.jpg);
}

  .pic{
   width: 400px;
   height: 400px;
   padding: 1%;
 }
