.hero {
  height: 1240px;
  
  background-size: auto;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-family: 'Crimson Text', serif;
  text-shadow: -2px -2px 0 rgb(12, 5, 29), 2px -2px 0 rgb(25, 5, 5), -2px 2px 0 rgb(46, 42, 42), 2px 2px 0 #000;
  font-size: 105px;
  padding-top: 140px;
  margin-top: 0;
}
.hero h2{
  font-family: 'Noto Serif', serif;
  font-size: 48px;
}